
.profile-container {
    width: 80%; /* Занимает 80% ширины экрана */
    max-width: 1800px; /* Ограничение по ширине */
    margin: 500px auto;
    padding: 40px; /* Увеличенные отступы */
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.profile-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
}

.profile-section label {
    font-weight: bold;
    margin-bottom: 5px;
}

.profile-section input {
    width: 100%; /* Поля будут одинаковой ширины */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Учитывает padding в расчётах ширины */
}

.favorites-list {
    text-align: left;
    margin-top: 15px;
}

.favorites-list ul {
    padding-left: 20px;
}

.profile-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.profile-buttons button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
    margin: 0 5px;
}

.save-button {
    background-color: #28a745;
    color: white;
}

.back-button {
    background-color: #dc3545;
    color: white;
}

.profile-buttons button:hover {
    opacity: 0.8;
}
